body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: rgb(211, 211, 211);
    font-family: Arial, Helvetica, sans-serif;
}

.content-login {
    background-color: white;
    width: 20%;
    height: 50%;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-page {
    font-size: larger;
    font-weight: bold;
}

.form-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.input-page {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.remmemberPassword-page {
    display: flex;
    gap: 5px;
    align-items: center;
}

.remmemberPassword-page span {
    font-size: small;
    font-weight: 300;
}

.label {
    font-size: small;
    font-weight: bold;
}

input {
    padding: 10px 10px;
    border-radius: 10px;
    border: solid 2px rgb(211, 211, 211);
}

.form-button {
    padding: 10px 20px;
    background-color: rgb(115, 115, 251);
    color: white;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}